body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: flex-start; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page {
  display: grid;
  grid-template-columns: 1fr; /* one column */
  gap: 20px; /* space between grid items */
  justify-content: center; /* center align */
}
.container {
  width: auto; 
  display: grid;
  grid-template-columns: 1fr; 
  gap: 0px; 
  justify-content: center;
  align-content: center;
}
.container-pair {
  display: flex;
  align-items: center;
  margin:10px 0;
}

.left-container,
.right-container {
  flex: 1; /* Take up equal space */
}

.left-container {
  display: flex;
  justify-content: flex-end;
}
.right-container {
  display: flex;
  justify-content: flex-start;
}

.container-pair > * {
  margin: 0;
}




.centered-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.table-container {
  width: 100%;
  margin: 20px auto;
}

.table {
  /* border-collapse: collapse; */
  /* min-width: 70%; */
  /* width: fit-content; */
  margin: 10px auto;

  width:auto;
  border-collapse: collapse;
  margin-top: 10px;
  overflow: hidden;
  table-layout: fixed;
}

.table th, .table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  border: 1px solid #ddd;
 
}

.table th {
  background-color: #f2f2f2;
}

tbody {
  max-height: 200px;
  overflow-y: auto;
}

.table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table tbody tr:hover {
  background-color: #ddd;
}
tr.selected {
  background-color: #4984fa;
}


.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  /* height:150px; */
  transform: translate(-50%, -50%);
  background-color:#f2f2f2;
  border: 1px solid #2208eb;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 9999;
}

.popup-inner {
  text-align: center;
}

.close-btn {
  position: inherit;
  color:blue;
  font-size: medium;
  width:fit-content;
  border: none;
  background: none;
  cursor: pointer;
}

.popup p {
  margin: 0;
}



.navlink-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.navlink-button:hover {
  background-color: #0056b3;
}


label, input {
  padding: 5px; 
}

input {
  width: calc(100% - 10px);
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  min-width: min-content;
  padding: 10px 20px; 
  margin: 5px 10px; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #0931fa;
  color: #fff;
  max-width: 200px; /* Set a maximum width for the buttons */
}
.create-checkout-button {
  font-size: 24px;
  padding: 20px 40px;
  background-color: #0931fa;
  color: #fff;
  border:gold;
  border-style: groove;
  border-radius: 26px;
  cursor: pointer;
  position: fixed;
  top: 80px;
  left: 20px;
  z-index: 999;
}


button:hover {
  background-color: #0056b3;
}

button:disabled {
  background-color:rgb(241, 236, 230);
  color:azure;
  border-color:rgba(0, 0, 0, 0.1);
}

